/worm/v3/project.json filter=lfs diff=lfs merge=lfs -text
/ultimate-god/project.json filter=lfs diff=lfs merge=lfs -text
/living-god/project.json filter=lfs diff=lfs merge=lfs -text
/test/jrpgt/project.json filter=lfs diff=lfs merge=lfs -text
/jrpg-traitor/project.json filter=lfs diff=lfs merge=lfs -text
